[
  {mnesia,
   [
    {dir, "db"},
    {debug, true}
   ]
  },
  {sumo_db,
   [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends, []},
    {stores, [{lsl_store_mnesia, sumo_store_mnesia, [{workers, 10}]}]},
    {docs,
     [
      {lsl_players,   lsl_store_mnesia},
      {lsl_sessions,  lsl_store_mnesia},
      {lsl_matches,   lsl_store_mnesia}
     ]
    },
    {events, []}
   ]
  },
  {lager,
   [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {handlers, [{lager_console_backend, [debug, true]}]}
   ]
  },
  {sasl,
   [
    {sasl_error_logger, false},
    {errlog_type, error}
   ]
  },
  {lsl,
   [
    {http_port, 8585},
    {http_listener_count, 10}
   ]
  }
].
